<h3>Quick actions</h3>

<ul>
    <li>
        <a {{action "recacheRoutes"}}>Drop cache and rerender routes</a>
    </li>
    <li>
        <a {{action "cacheRoutes"}}>Render and cache new routes</a>
    </li>
    <li>
        <a {{action "generateSitemap"}}>Regenerate a sitemap</a> (currently {{sitemap.length}} routes)
    </li>
    <li>
        <a {{action "editSitemap"}}>Edit a sitemap</a>
    </li>
</ul>

{{outlet}}
