<div class="dashboard">
    <h3>Quick actions</h3>

    <ul>
        <li>
            <a {{action "rebuildCache"}}>Drop cache and rerender routes</a>
            <span class="status">{{or status.rebuildCache "..."}}</span>
        </li>
        <li>
            <a {{action "updateCache"}}>Render and cache new routes</a>
            <span class="status">{{or status.updateCache "..."}}</span>
        </li>
        <li>
            <a {{action "generateSitemap"}}>Regenerate a sitemap</a> 
            <span class="status">{{sitemap.length}} routes</span>
        </li>
        <li>
            <a {{action "editSitemap"}}>Edit a sitemap</a>
        </li>
    </ul>

    {{outlet}}
</div>
