<div class="autocomplete">
    {{#each items as |item|}}
    <span class="selected-value" {{action "remove" item}}>{{output-value item key}}</span>
    {{/each}}
    {{input type="text" placeholder="start entering tag" value=newItem type=text key-up="keyUp"}}
    <ul class="autocomplete-results">
    {{#each foundItems as |item|}}
        <li>
            <span class="found-item" {{action "add" item}}>{{output-value item key}}</span>
        </li>
    {{/each}}
    </ul>
</div>
