<div class="autocomplete">
    {{#each values as |value|}}
    <span class="selected-value" {{action "remove" value}}>{{value}}</span>
    {{/each}}
    {{input value=newValue type=text key-up="keyUp"}}
    <ul class="autocomplete-results">
    {{#each results as |result|}}
        <li>
            <span class="found-item" {{action "select" result}}>{{result}}</span>
        </li>
    {{/each}}
    </ul>
</div>
