<div class="autocomplete">
    {{#if items}}
        {{#each items as |item|}}
        <span class="selected-value" {{action "remove" item}}>{{output-value item key}}</span>
        {{/each}}
    {{/if}}
    {{#if item}}
        <span class="selected-value" {{action "remove" item}}>{{output-value item key}}</span>
    {{/if}}
    {{#if item}}
    {{else}}
        {{input type="text" placeholder="start typing" value=newItem type=text key-up="keyUp"}}
    {{/if}}
    <ul class="autocomplete-results">
    {{#each foundItems as |item index|}}
        <li class="{{if (eq focused index) 'focused'}}">
            <span class="found-item" {{action "add" item}}>{{output-value item key}}</span>
        </li>
    {{/each}}
    </ul>
</div>
