{{#pl-uploader 
    for="upload-image" 
    extensions="jpg jpeg png gif" 
    onfileadd="uploadImage" as |queue features|}}
  <div class="dropzone" id={{features.drag-and-drop.dropzone-id}}>
    <a id="upload-image">
      <p>
        {{#if features.drag-and-drop}}
          Drag and drop images onto this area to upload them
        {{/if}}
      </p>
    </a>
  </div>
  {{#if queue.length}}
    Uploading {{queue.length}} files. ({{queue.progress}}%)
  {{/if}}
{{/pl-uploader}}
<ul class="uploaded-files">
  {{#each links as |link|}}
  <li>
    <img src="{{link.file}}" alt="" />
    {{ link.name }}
  </li>
  {{/each}}
</ul>
