<nav>
  <div class="blog-title">
      <button {{action "toggleNavbar"}} class="nav-toggle" type="button">
          <span></span>
          <span></span>
          <span></span>
      </button>
          {{#link-to "blog-posts"}}
              {{title}}<span class="animated-dot">.</span>
          {{/link-to}}
  </div>
  <div class="navbar">
    <ul>
      <li>{{#link-to "blog-posts"}}Blog{{/link-to}}</li>
      <li>{{#link-to "projects.list"}}Projects{{/link-to}}</li>
      <li>{{#link-to "about"}}About{{/link-to}}</li>
      <li>
          {{#if session.isAuthenticated}}
              {{#if user.isAdmin}}
                  {{link-to "admin" "admin"}}
              {{else}}
                  <a {{action 'invalidateSession'}}>Logout</a>
              {{/if}}
          {{else}}
              {{link-to "Login" "auth.login"}}
          {{/if}}
      </li>
    </ul>
    <div class="active-indicator"></div>
  </div>
</nav>
