<nav>
    <div class="blog-title">
        <button {{action "toggleNavbar"}} class="nav-toggle" type="button">
            <span></span>
            <span></span>
            <span></span>
        </button>
        {{#if isLive}} {{#link-to "stream"}}
        <span class="title">{{title}}</span><span class="rec-sign"></span>
        {{/link-to}} {{else}} {{#link-to "blog-posts"}}
        <span class="title">{{title}}</span><span class="animated-dot">_</span>
        {{/link-to}} {{/if}}
    </div>
    <div class="navbar">
        <ul>
            <li>{{#link-to "blog-posts"}}Blog{{/link-to}}</li>
            {{#if isLive}}
            <li>{{#link-to "stream"}}Live{{/link-to}}</li>
            {{/if}}
            <li>{{#link-to "projects.list"}}Projects{{/link-to}}</li>
            <li>{{#link-to "about"}}About{{/link-to}}</li>
            <li><a href="http://feeds.feedburner.com/kuzzmi" class="rss-icon" target="_blank">{{fa-icon "rss-square"}}</a>
            </li>
        </ul>
        <div class="active-indicator"></div>
    </div>
</nav>
