<div class="post-edit-form">
    {{#admin-toolbar}}
        <li>
            <a {{action "save" post}}>[F2] Save</a>
        </li>
        <li>
            {{#if isPreview}}
                <a {{action "edit"}}>[F3] Edit</a>
            {{else}}
                <a {{action "preview" post}}>[F3] Preview</a>
            {{/if}}
        </li>
        <li>
            {{#if post.id}}
                {{link-to "[F10] Close" "blog-posts.post-read" post}}
            {{else}}
                {{link-to "[F10] Close" "blog-posts.posts-list"}}
            {{/if}}
        </li>
    {{/admin-toolbar}}
    <p class="current-time">
        {{moment-from-now post.dateCreated interval=60000}}
    </p>
    <div class="form {{if isPreview 'hidden' ''}}">
        <form>
            <h1>
                {{form-title}} 
            </h1>
            <div class="not-editor">
                <label>Title</label>
                {{input id="title" value=post.title placeholder="post title" type="text"}}
                <label>Published</label>
                {{input id="published" type="checkbox" name="isPublished" checked=post.isPublished}}
                <label>Project</label>
                {{autocomplete-input item=post.project key="name" model="project"}}
                <label>Tags</label>
                {{autocomplete-input items=post.tags key="name" model="tag"}}
                <label>Description</label>
                {{textarea id="description" value=post.description placeholder="post description" type="text"}}
            </div>
            <div class="editor">
                <label><a {{ action "fullscreen" }}>{{fa-icon "fa-arrows-alt"}} Body</a></label>
                {{image-uploader action="insertLink"}}
                <div id="editor-body"></div>
            </div>
        </form>
    </div>
    <div class="preview {{if isPreview '' 'hidden'}}">
        <h2 class="title preview-title">
            Preview
        </h2>
        {{#blog-post-body}}
            {{{preview}}}
        {{/blog-post-body}}
    </div>
</div>
