<div class="post-edit-form">
    <div class="toolbar">
        <ul>
            <li>
                <a href="#" {{action "save" post}}>[F2] Save</a>
                {{#if isPreview}}
                    <a href="#" {{action "edit"}}>[F3] Edit</a>
                {{else}}
                    <a href="#" {{action "preview" post}}>[F3] Preview</a>
                {{/if}}
                {{#if post.id}}
                    {{link-to "[F10] Close" "blog-posts.post-read" post}}
                {{else}}
                    {{link-to "[F10] Close" "blog-posts.posts-list"}}
                {{/if}}
            </li>
        </ul>
    </div>
    <p class="current-time">
        {{moment-from-now post.dateCreated interval=1000}}
    </p>
    <div class="form {{if isPreview 'hidden' ''}}">
        <h2 class="title">
            {{form-title}} 
        </h2>
        <form>
            <p class="label">Title</p>
            {{input value=post.title placeholder="post title" type=text}}
            <p class="label">Tags</p>
            {{autocomplete-input items=post.tags key="name" model="tag"}}
            <p class="label">Description</p>
            {{textarea value=post.description placeholder="post description" type=text}}
            <p class="label">Body</p>
            <div id="editor-body"></div>
        </form>
    </div>
    <div class="preview {{if isPreview '' 'hidden'}}">
        <h2 class="title">
            Preview
        </h2>
        {{#blog-post-body}}
            {{{preview}}}
        {{/blog-post-body}}
    </div>
</div>

{{!-- <input type="submit" value="Save">
{{action "save" post on="submit"}} --}}
