<div class="post-edit-form">
    {{#admin-toolbar}}
        <li>
            <a {{action "save" post}}>[F2] Save</a>
        </li>
        <li>
            {{#if isPreview}}
                <a {{action "edit"}}>[F3] Edit</a>
            {{else}}
                <a {{action "preview" post}}>[F3] Preview</a>
            {{/if}}
        </li>
        <li>
            {{#if post.id}}
                {{link-to "[F10] Close" "blog-posts.post-read" post}}
            {{else}}
                {{link-to "[F10] Close" "blog-posts.posts-list"}}
            {{/if}}
        </li>
    {{/admin-toolbar}}
    <p class="current-time">
        {{moment-from-now post.dateCreated interval=1000}}
    </p>
    <div class="form {{if isPreview 'hidden' ''}}">
        <h2 class="title form-title">
            {{form-title}} 
        </h2>
        <form>
            <p class="label">Title</p>
            {{input id="title" value=post.title placeholder="post title" type="text"}}
            <p class="label">Published</p>
            {{input id="published" type="checkbox" name="isPublished" checked=post.isPublished}}
            <p class="label">Tags</p>
            {{autocomplete-input items=post.tags key="name" model="tag"}}
            <p class="label">Description</p>
            {{textarea id="description" value=post.description placeholder="post description" type="text"}}
            <p class="label">Body</p>
            <div id="editor-body"></div>
        </form>
    </div>
    <div class="preview {{if isPreview '' 'hidden'}}">
        <h2 class="title preview-title">
            Preview
        </h2>
        {{#blog-post-body}}
            {{{preview}}}
        {{/blog-post-body}}
    </div>
</div>
