{{title model.title}}

<div class="post">
    <div class="a2a_kit a2a_kit_size_24 a2a_default_style" data-a2a-icon-color="#FF8300">
        <a class="a2a_button_facebook a2a_counter"></a>
        <a class="a2a_button_twitter a2a_counter"></a>
        <a class="a2a_button_google_plus a2a_counter"></a>
        <a class="a2a_button_reddit a2a_counter"></a>
        <a class="a2a_button_linkedin a2a_counter"></a>
        <a class="a2a_button_pocket a2a_counter"></a>
    </div>
    {{#admin-toolbar}}
        <li>
            {{link-to "[F4] Edit" "blog-posts.post-edit" model}}
        </li>
        <li>
            <a {{action "delete" model}}>[F8] Delete</a>
        </li>
    {{/admin-toolbar}}
    <p class="post-created">
        <b> {{if model.isPublished "" "[ DRAFT ]"}} </b>
        {{moment-format model.dateCreated "DD/MM/YY HH:mm"}}
    </p>
    <h1>
        {{model.title}}
    </h1>
    {{#blog-post-body}}
        {{{model.body}}}
    {{/blog-post-body}}
    {{tags-list tags=model.tags}}
    <div class="a2a_kit a2a_kit_size_24 a2a_default_style a2a_kit-bottom" data-a2a-icon-color="#FF8300">
        <a class="a2a_button_facebook a2a_counter"></a>
        <a class="a2a_button_twitter a2a_counter"></a>
        <a class="a2a_button_google_plus a2a_counter"></a>
        <a class="a2a_button_reddit a2a_counter"></a>
        <a class="a2a_button_linkedin a2a_counter"></a>
        <a class="a2a_button_pocket a2a_counter"></a>
    </div>
    <div class="comments">
        <h3>Comments</h3>
        {{disqus-comments identifier=model.id title=model.title}}
    </div>
</div>
