<div class="post">
    <div class="toolbar">
        <ul>
            <li>
                {{link-to "$ Edit" "blog-posts.post-edit" model}}
                <a {{action "delete" model}}>- Delete</a>
            </li>
        </ul>
    </div>
    <p class="post-created">
        {{moment-format model.dateCreated "DD/MM/YY HH:mm"}}
    </p>
    <p class="post-title">
        {{model.title}} 
    </p>
    <p class="post-body">
        {{{model.body}}}
    </p>
</div>
