<div class="post">
    {{#admin-toolbar}}
        <li>
            {{link-to "[F4] Edit" "blog-posts.post-edit" model}}
        </li>
        <li>
            <a {{action "delete" model}}>[F8] Delete</a>
        </li>
    {{/admin-toolbar}}
    <p class="post-created">
        {{if model.isPublished "" "[ DRAFT ]"}}
        {{moment-format model.dateCreated "DD/MM/YY HH:mm"}}
    </p>
    <p class="post-title">
        {{model.title}} 
    </p>
    {{#blog-post-body}}
        {{{model.body}}}
    {{/blog-post-body}}
    {{tags-list tags=model.tags}}
</div>
