<div class="list">
    {{#admin-toolbar}}
        <li>
            {{link-to "[F4] New post" "blog-posts.post-new"}}
        </li>
    {{/admin-toolbar}}

    <ul>
        {{#each model as |item|}}
            <li>
                <p class="created">
                    <b> {{if item.isPublished "" "[ DRAFT ]"}} </b>
                    {{moment-format item.dateCreated "DD/MM/YY HH:mm"}}
                </p>
                <p class="title">
                    {{#link-to "blog-posts.post-read" item}}{{item.title}}{{/link-to}}
                </p>
                <p class="description">
                    {{item.description}}
                </p>
                {{!--
                {{#if item.project}}
                    <p class="project">
                        Related to project: {{item.project.name}}
                    </p>
                {{/if}}
                --}}
                {{tags-list tags=item.tags}}
            </li>
        {{/each}}
    </ul>
</div>

