{{title model.title}}

<div class="post">
    {{#admin-toolbar}}
        <li>
            {{link-to "[F4] Edit" "blog-posts.post-edit" model}}
        </li>
        <li>
            <a {{action "delete" model}}>[F8] Delete</a>
        </li>
    {{/admin-toolbar}}
    <p class="post-created">
        <b> {{if model.isPublished "" "[ DRAFT ]"}} </b>
        {{moment-format model.dateCreated "DD/MM/YY HH:mm"}}
    </p>
    <h1>{{model.title}}</h1>
    {{#blog-post-body}}
        {{{model.body}}}
    {{/blog-post-body}}
    {{tags-list tags=model.tags}}
    <h3>Comments</h3>
    {{disqus-comments identifier=model.id title=model.title}}
</div>
