<div class="list">
    {{#admin-toolbar}}
        <li>
            {{link-to "[F4] New post" "blog-posts.post-new"}}
        </li>
    {{/admin-toolbar}}

    <ul>
        {{#each model as |item|}}
            <li>
                <p class="created">
                    <b> {{if item.isPublished "" "[ DRAFT ]"}} </b>
                    {{moment-from-now item.dateCreated interval=60000}}
                </p>
                <h1>
                    {{link-to item.title "blog-posts.post-read" item}}
                </h1>
                <p class="description">
                    {{item.description}}
                </p>
                {{tags-list tags=item.tags}}
                {{!--
                {{#if item.project}}
                    <p class="project">
                        Related to project: {{item.project.name}}
                    </p>
                {{/if}}
                --}}
            </li>
        {{/each}}
    </ul>
</div>

