<div class="posts-list">
    {{#admin-toolbar}}
        <li>
            {{link-to "[F4] New post" "blog-posts.post-new"}}
        </li>
    {{/admin-toolbar}}

    <ul>
        {{#each model as |item|}}
            <li>
                <p class="post-created">
                    {{if item.isPublished "" "[ DRAFT ]"}}
                    {{moment-format item.dateCreated "DD/MM/YY HH:mm"}}
                </p>
                <p class="post-title">
                    {{#link-to "blog-posts.post-read" item}}{{item.title}}{{/link-to}}
                </p>
                <p class="post-description">
                    {{item.description}}
                </p>
                {{tags-list tags=item.tags}}
            </li>
        {{/each}}
    </ul>
</div>

