<div class="posts-list">
    <div class="toolbar">
        <ul> 
            {{#if session.isAuthenticated}}
            <li>
                {{link-to "[F4] New post" "blog-posts.post-new"}}
            </li>
            {{/if}}
        </ul>
    </div>

    <ul>
        {{#each model as |item|}}
            <li>
                <p class="post-created">
                    {{moment-format item.dateCreated "DD/MM/YY HH:mm"}}
                </p>
                <p class="post-title">
                    {{#link-to "blog-posts.post-read" item}}{{item.title}}{{/link-to}}
                </p>
                <p class="post-description">
                    {{item.description}}
                </p>
                <p class="post-tags">
                {{#each item.tags as |tag|}}
                    <span class="tag">
                        <a href="#">
                            {{tag.name}}
                        </a>
                    </span>
                {{/each}}
                </p>
            </li>
        {{/each}}
    </ul>
</div>

