<div class="post">
    <div class="toolbar">
        <ul>
            <li>
                {{link-to "[F4] Edit" "blog-posts.post-edit" model}}
                <a {{action "delete" model}}>[F8] Delete</a>
            </li>
        </ul>
    </div>
    <p class="post-created">
        {{moment-format model.dateCreated "DD/MM/YY HH:mm"}}
    </p>
    <p class="post-title">
        {{model.title}} 
    </p>
    {{#each model.tags as |tag|}}
        <span class="tag">
            <a href="#">{{tag.name}}</a>
        </span>
    {{/each}}
    {{#blog-post-body}}
        {{{model.body}}}
    {{/blog-post-body}}
</div>
